table,th,td{
    border: 1px solid black;
  border-collapse: collapse;
}
table{
    width: 100%;
    background-color: #CC9966;
}
.table-left{
    text-align: center;
    font-weight: bolder;
    color: aqua;
}
.table-right{
    color: aqua;
}
h1{
    margin-left: 300px;
}
fieldset {

    display: block;
    margin-left: 200px;
    margin-right: 200px;
    
    border: 2px groove (internal value);
  }
  button{
      margin-left: 370px;
      
  }
  .innertext{
      text-align: center;
  }